name: Provenance Attestation

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  provenance:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate build provenance
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: "por_report.json"
